# Pandas 1

## 1. 数据结构

### 1.1 Series

In [6]:
import pandas as pd
import numpy as np

In [34]:
s = pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
print(s)

a    1.373392
b   -1.426311
c    0.009918
d   -0.280422
e    2.131574
dtype: float64

In [9]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

切片操作

In [11]:
s[:3]

a   -1.213139
b    0.557505
c    2.209329
dtype: float64

In [12]:
s[[4,3,1]]

e   -0.469847
d   -1.757296
b    0.557505
dtype: float64

### 1.2 DataFrame

用series创建dataframe 1

In [32]:
s = pd.Series(np.random.randn(5))
f = pd.Series(np.random.randn(5))
df1 = pd.DataFrame([s,f])
print(df1)

          0         1         2         3         4
0  1.363312  0.722780  0.538155  0.971143  0.078586
1  0.018795 -0.356846 -0.299262 -0.303086  0.278098

用series创建dataframe 2

In [24]:
s = pd.Series(np.random.randn(5))
f = pd.Series(np.random.randn(5))
df2 = pd.DataFrame({'series 1':s, 'series 2':f})
print(df2)

   series 1  series 2
0 -0.824300  0.610268
1 -1.005682 -0.893015
2  0.679116  0.016141
3 -0.652402 -1.622685
4  1.994433  2.113618

## 2. DataFrame操作

In [36]:
dates = pd.date_range('20130101', periods=6)
print(dates)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [39]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
print(df)

                   A         B         C         D
2013-01-01 -1.406555  0.304047 -0.579640  0.667505
2013-01-02  1.454421  1.678691  0.075767  0.076155
2013-01-03 -0.630618 -0.213624 -0.272287 -1.061110
2013-01-04  0.268604  0.637479 -0.408581  0.270207
2013-01-05 -0.287295 -0.668475 -0.500638  2.307757
2013-01-06  1.538755  0.750850 -1.013222 -0.714124

In [79]:
df.info() #查看基本信息

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
A    6 non-null float64
B    6 non-null float64
C    6 non-null float64
D    6 non-null float64
dtypes: float64(4)
memory usage: 400.0 bytes

In [44]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [45]:
df.columns #查看列名

Index(['A', 'B', 'C', 'D'], dtype='object')

In [68]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [71]:
print(type(df)) #查看class  #print(type(df.A))

<class 'pandas.core.frame.DataFrame'>

In [77]:
df.shape #产看dataframe维度

(6, 4)

查看数据

In [42]:
df.head() #.tail()

                   A         B         C         D
2013-01-01 -0.049396 -0.426630  0.616464  0.935346
2013-01-02  1.269759  2.385606  2.591944  1.816184
2013-01-03  1.271621 -0.053417 -0.481248  1.329119
2013-01-04 -0.221077 -0.848440 -1.082219  0.110056
2013-01-05  0.397100  2.353664  1.002167  0.071406

In [47]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.245356  0.464582  0.749591  0.583558
std    0.949445  1.498602  1.382616  0.947912
min   -1.195872 -0.848440 -1.082219 -0.760763
25%   -0.178157 -0.574126 -0.206820  0.081069
50%    0.173852 -0.240023  0.809315  0.522701
75%    1.051594  1.751894  1.638371  1.230675
max    1.271621  2.385606  2.591944  1.816184

In [50]:
df.sort_index(axis=1, ascending=False) #按轴排序，axis=1:按列名

                   D         C         B         A
2013-01-01  0.935346  0.616464 -0.426630 -0.049396
2013-01-02  1.816184  2.591944  2.385606  1.269759
2013-01-03  1.329119 -0.481248 -0.053417  1.271621
2013-01-04  0.110056 -1.082219 -0.848440 -0.221077
2013-01-05  0.071406  1.002167  2.353664  0.397100
2013-01-06 -0.760763  1.850438 -0.623292 -1.195872

In [53]:
df.sort_index(axis=0, ascending=False) #按轴排序，axis=1:按行名

                   A         B         C         D
2013-01-06 -1.195872 -0.623292  1.850438 -0.760763
2013-01-05  0.397100  2.353664  1.002167  0.071406
2013-01-04 -0.221077 -0.848440 -1.082219  0.110056
2013-01-03  1.271621 -0.053417 -0.481248  1.329119
2013-01-02  1.269759  2.385606  2.591944  1.816184
2013-01-01 -0.049396 -0.426630  0.616464  0.935346

In [54]:
df.sort_values(by='B') #按值排序

                   A         B         C         D
2013-01-04 -0.221077 -0.848440 -1.082219  0.110056
2013-01-06 -1.195872 -0.623292  1.850438 -0.760763
2013-01-01 -0.049396 -0.426630  0.616464  0.935346
2013-01-03  1.271621 -0.053417 -0.481248  1.329119
2013-01-05  0.397100  2.353664  1.002167  0.071406
2013-01-02  1.269759  2.385606  2.591944  1.816184

选择

In [57]:
df['A'] #与df.A等效

2013-01-01   -0.049396
2013-01-02    1.269759
2013-01-03    1.271621
2013-01-04   -0.221077
2013-01-05    0.397100
2013-01-06   -1.195872
Freq: D, Name: A, dtype: float64

In [125]:
df[['A','B']]

                   A         B
2013-01-01 -0.049396 -0.426630
2013-01-02  1.269759  2.000000
2013-01-03  1.271621 -0.053417
2013-01-04 -0.221077 -0.848440
2013-01-05  0.397100  2.353664
2013-01-06 -1.195872 -0.623292

In [59]:
df[0:3]  #也是dataframe  只能切片，不能取一行 df[1,1]X  df[0]X

                   A         B         C         D
2013-01-01 -0.049396 -0.426630  0.616464  0.935346
2013-01-02  1.269759  2.385606  2.591944  1.816184
2013-01-03  1.271621 -0.053417 -0.481248  1.329119

In [80]:
print(type(df[0:3]))

<class 'pandas.core.frame.DataFrame'>

In [62]:
df['20130101':'20130104'] #等效df['2013-01-01':'2013-01-04']

                   A         B         C         D
2013-01-01 -0.049396 -0.426630  0.616464  0.935346
2013-01-02  1.269759  2.385606  2.591944  1.816184
2013-01-03  1.271621 -0.053417 -0.481248  1.329119
2013-01-04 -0.221077 -0.848440 -1.082219  0.110056

In [82]:
df.loc[dates[0]] #取一行

A   -0.049396
B   -0.426630
C    0.616464
D    0.935346
Name: 2013-01-01 00:00:00, dtype: float64

In [88]:
df.loc[:,['A','B']]   #DataFrame

                   A         B
2013-01-01 -0.049396 -0.426630
2013-01-02  1.269759  2.385606
2013-01-03  1.271621 -0.053417
2013-01-04 -0.221077 -0.848440
2013-01-05  0.397100  2.353664
2013-01-06 -1.195872 -0.623292

In [93]:
print(type(df.loc[:,'A'])) #单列即为Series

<class 'pandas.core.series.Series'>

In [126]:
df.iloc[0] #取一行

A   -0.049396
B   -0.426630
C    0.616464
D    0.935346
Name: 2013-01-01 00:00:00, dtype: float64

In [94]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.221077 -0.848440
2013-01-05  0.397100  2.353664

In [124]:
df.iat[1, 1] #提取标量专用 更快速 与 df.iloc[1,1]等效
df.at[dates[0],'A']   #更快速 与 df.loc[date[0],'A']等效

-0.0493958373567428

.copy()用法

In [96]:
df4 = df
print(df4)

                   A         B         C         D
2013-01-01 -0.049396 -0.426630  0.616464  0.935346
2013-01-02  1.269759  2.385606  2.591944  1.816184
2013-01-03  1.271621 -0.053417 -0.481248  1.329119
2013-01-04 -0.221077 -0.848440 -1.082219  0.110056
2013-01-05  0.397100  2.353664  1.002167  0.071406
2013-01-06 -1.195872 -0.623292  1.850438 -0.760763

In [107]:
df.iloc[1,1]=1 #对df中元素进行更改 也会对 df4中元素进行更改，所以必须使用.copy()
print(df4)

                   A         B         C         D
2013-01-01 -0.049396 -0.426630  0.616464  0.935346
2013-01-02  1.269759  1.000000  2.591944  1.816184
2013-01-03  1.271621 -0.053417 -0.481248  1.329119
2013-01-04 -0.221077 -0.848440 -1.082219  0.110056
2013-01-05  0.397100  2.353664  1.002167  0.071406
2013-01-06 -1.195872 -0.623292  1.850438 -0.760763

In [108]:
df3 = df.copy()
print(df3)

                   A         B         C         D
2013-01-01 -0.049396 -0.426630  0.616464  0.935346
2013-01-02  1.269759  1.000000  2.591944  1.816184
2013-01-03  1.271621 -0.053417 -0.481248  1.329119
2013-01-04 -0.221077 -0.848440 -1.082219  0.110056
2013-01-05  0.397100  2.353664  1.002167  0.071406
2013-01-06 -1.195872 -0.623292  1.850438 -0.760763

In [111]:
df.iloc[1,1]=2 #此时对df中元素进行更改将不会对df4中元素造成影响
print(df3)

                   A         B         C         D
2013-01-01 -0.049396 -0.426630  0.616464  0.935346
2013-01-02  1.269759  1.000000  2.591944  1.816184
2013-01-03  1.271621 -0.053417 -0.481248  1.329119
2013-01-04 -0.221077 -0.848440 -1.082219  0.110056
2013-01-05  0.397100  2.353664  1.002167  0.071406
2013-01-06 -1.195872 -0.623292  1.850438 -0.760763

In [116]:
df[df['A']>0] #等效df[df.A>0]

                   A         B         C         D
2013-01-02  1.269759  2.000000  2.591944  1.816184
2013-01-03  1.271621 -0.053417 -0.481248  1.329119
2013-01-05  0.397100  2.353664  1.002167  0.071406

In [128]:
df3 = df.copy()
df3['E'] = ['one', 'two', 'three', 'four', 'five', 'six']
df3

                   A         B         C         D      E
2013-01-01 -0.049396 -0.426630  0.616464  0.935346    one
2013-01-02  1.269759  2.000000  2.591944  1.816184    two
2013-01-03  1.271621 -0.053417 -0.481248  1.329119  three
2013-01-04 -0.221077 -0.848440 -1.082219  0.110056   four
2013-01-05  0.397100  2.353664  1.002167  0.071406   five
2013-01-06 -1.195872 -0.623292  1.850438 -0.760763    six

In [130]:
df3.E.isin(['two','four']) #df3[df3.E.isin(['two','four'])]

2013-01-01    False
2013-01-02     True
2013-01-03    False
2013-01-04     True
2013-01-05    False
2013-01-06    False
Freq: D, Name: E, dtype: bool